* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    background-color: #09090a;
  }
  nav {
    display: flex;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin-right: 1rem;
  }
  main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    margin-top: 20%;
  }
  section {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
  #sobre-mim {
    flex-basis: 100%;
  }
  #habilidades {
    flex-basis: 30%;
    margin-right: 1rem;
  }
  #projetos {
    flex-basis: 60%;
  }