/* Cores */
:root {
  --cor-primaria: #000;
  --cor-secundaria: #610725;
  --cor-terciaria: #ed145b;
}

/* Estilo global */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cor-primaria);
  color: #fff;
}

/* Animações */
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

/* Estilo do header */
header {
  background-color: var(--cor-terciaria);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fade-in 3s ease;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--cor-terciaria);
}


/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background-color: var(--cor-terciaria); /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do "polegar" da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do "polegar" da barra de rolagem ao passar o mouse */
}


/* Estilo da seção "Sobre Mim" */
#sobre-mim {
  padding: 40px;
  animation: slide-in 1s ease;
}

.container {
  display: flex;
  justify-content: center;
}

button {
  background-color: gray;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d40e50;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* Estilo da seção "Habilidades" */
#habilidades {
  padding: 40px;
  animation: slide-in 1s ease;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Estilo da seção "Projetos" */
#projetos {
  padding: 40px;
  animation: slide-in 1s ease;
}

.projeto {
  margin-bottom: 40px;
}

.projeto h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.projeto img {
  max-width: 100%;
  height: auto;
}

.projeto p {
  font-size: 16px;
  line-height: 1.5;
}

.projeto a {
  color: var(--cor-terciaria);
  text-decoration: none;
  transition: color 0.3s ease;
}

.projeto a:hover {
  color: #c30b48;
}

/* Estilo da seção "Contato" */
#contato {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--cor-primaria);
  animation: fadein 1s;
}

#contato label {
  display: block;
  margin-bottom: 10px;
}

#contato input,
#contato textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#enviar input{
  width: 100%;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
